<html data-ng-app="notificationTest">
    <head>
        <title>Notification demo</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="bootstrap.default.min.css" id="theme-link">
        <link href="../dist/angular-ui-notification.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <h1>Angular ui-notification demo</h1>
        </div>

        <div data-ng-controller="NotificationController as vm">
            <div class="pull-right" style="margin-right:10px;">
                <h3>Change Theme</h3>
                <div class="btn-group-vertical">
                    <button class="btn btn-default" data-ng-click="vm.changeTheme('bootstrap.default.min.css')">Bootstrap Default</button>
                    <button class="btn btn-default" data-ng-click="vm.changeTheme('darkly.min.css')">Bootswatch Darkly</button>
                    <button class="btn btn-default" data-ng-click="vm.changeTheme('flatly.min.css')">Bootswatch Flatly</button>
                    <button class="btn btn-default" data-ng-click="vm.changeTheme('paper.min.css')">Bootswatch Paper</button>
                </div>
            </div>
            <div class="container">
                <h3>Types of notifications</h3>
                <div class="btn-group-vertical">
                    <button class="btn btn-primary" data-ng-click="vm.primary()">Primary Notification</button>
                    <button class="btn btn-danger" data-ng-click="vm.danger()">Danger Notification</button>
                    <button class="btn btn-success" data-ng-click="vm.success()">Success Notification</button>
                    <button class="btn btn-info" data-ng-click="vm.info()">Information Notification</button>
                    <button class="btn btn-warning" data-ng-click="vm.warning()">Warning Notification</button>
                </div>
            </div>

            <div class="container">
                <h3>Notification with title</h3>
                <div class="btn-group-vertical">
                    <button class="btn btn-primary" data-ng-click="vm.primaryTitle()">Primary Notification</button>
                </div>
            </div>

            <div class="container">
                <h3>Custom show delay</h3>
                <div class="btn-group-vertical">
                    <button class="btn btn-danger" data-ng-click="vm.dangerTime()">Danger Notification 1s</button>
                    <button class="btn btn-danger" data-ng-click="vm.dangerNoTime()">Danger Notification (no timeout)</button>
                    <button class="btn btn-success" data-ng-click="vm.successTime()">Success Notification 20s</button>
                </div>
            </div>

            <div class="container">
                <h3>Using html tags within message and title</h3>
                <div class="btn-group-vertical">
                    <button class="btn btn-danger" data-ng-click="vm.dangerHtml()">Danger Notification</button>
                    <button class="btn btn-success" data-ng-click="vm.successHtml()">Success Notification</button>
                </div>
            </div>

            <div class="container">
                <h3>Change position notification</h3>
                <div class="btn-group-vertical">
                    <button class="btn btn-success" data-ng-click="vm.topLeft()">Top Left Notification</button>
                    <button class="btn btn-danger" data-ng-click="vm.bottomRight()">Bottom Right Notification</button>
                    <button class="btn btn-warning" data-ng-click="vm.bottomLeft()">Bottom Left Notification</button>
                </div>
            </div>

            <div class="container">
                <h3>Custom template and scope</h3>
                <div class="btn-group-vertical">
                    <button class="btn btn-primary show-custom" data-ng-click="vm.customTemplateScope()">Custom template and scope</button>
                </div>
                <h5>Clicks: {{vm.nClicksLog.length}}</h5>
                <ul class="elements-count">
                    <li data-ng-repeat="l in vm.nClicksLog track by $index">{{$index + 1}}. {{l}}</li>
                </ul>
            </div>

        </div>

        <script type="text/ng-template" id="custom_template.html">
            <div class="ui-notification custom-template">
                <h3>{{vm.nTitle}}</h3>
                <div class="message" style="text-align:left;" data-ng-bind-html="message"></div>
                <div class="message" style="text-align:left;">
                    <ul>
                        <li data-ng-repeat="el in vm.nElements">{{el}}</li>
                    </ul>
                </div>
                <div class="message" style="text-align:left;">
                    <a class="btn btn-small btn-default close-notification" data-ng-click="vm.nClick()">Click me</a>
                </div>
            </div>
        </script>

        <script src="angular.js"></script>
        <script src="../dist/angular-ui-notification.min.js"></script>
        <script src="app.js"></script>
    </body>
</html>