<html data-ng-app="notificationTest">
    <head>
        <title>Notification demo</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="bootstrap.default.min.css" id="theme-link">
        <link rel="stylesheet" href="../src/angular-ui-notification.css">
    </head>
    <body>
        <div class="container">
            <h1>Angular ui-notification demo</h1>
        </div>

        <div data-ng-controller="NotificationController as vm">
            <div class="pull-right" style="margin-right:10px;">
                <h3>Change Theme</h3>
                <div class="btn-group-vertical">
                    <button class="btn btn-default" data-ng-click="vm.changeTheme('bootstrap.default.min.css')">Bootstrap Default</button>
                    <button class="btn btn-default" data-ng-click="vm.changeTheme('darkly.min.css')">Bootswatch Darkly</button>
                    <button class="btn btn-default" data-ng-click="vm.changeTheme('flatly.min.css')">Bootswatch Flatly</button>
                    <button class="btn btn-default" data-ng-click="vm.changeTheme('paper.min.css')">Bootswatch Paper</button>
                </div>
            </div>
            <div class="container">
                <h3>Types of notifications</h3>
                <div class="btn-group-vertical">
                    <button class="btn btn-primary" data-ng-click="vm.primary()">Primary Notification</button>
                    <button class="btn btn-danger" data-ng-click="vm.danger()">Danger Notification</button>
                    <button class="btn btn-success" data-ng-click="vm.success()">Success Notification</button>
                    <button class="btn btn-info" data-ng-click="vm.info()">Information Notification</button>
                    <button class="btn btn-warning" data-ng-click="vm.warning()">Warning Notification</button>
                </div>
            </div>

            <div class="container">
                <h3>Notification with title</h3>
                <div class="btn-group-vertical">
                    <button class="btn btn-primary" data-ng-click="vm.primaryTitle()">Primary Notification</button>
                </div>
            </div>

            <div class="container">
                <h3>Custom show delay</h3>
                <div class="btn-group-vertical">
                    <button class="btn btn-danger" data-ng-click="vm.dangerTime()">Danger Notification 1s</button>
                    <button class="btn btn-danger" data-ng-click="vm.dangerNoTime()">Danger Notification (no timeout)</button>
                    <button class="btn btn-success" data-ng-click="vm.successTime()">Success Notification 20s</button>
                </div>
            </div>

            <div class="container">
                <h3>Using html tags within message and title</h3>
                <div class="btn-group-vertical">
                    <button class="btn btn-danger" data-ng-click="vm.dangerHtml()">Danger Notification</button>
                    <button class="btn btn-success" data-ng-click="vm.successHtml()">Success Notification</button>
                </div>
            </div>

            <div class="container">
                <h3>Change position notification</h3>
                <div class="btn-group-vertical">
                    <button class="btn btn-success" data-ng-click="vm.topLeft()">Top Left Notification</button>
                    <button class="btn btn-danger" data-ng-click="vm.bottomRight()">Bottom Right Notification</button>
                    <button class="btn btn-warning" data-ng-click="vm.bottomLeft()">Bottom Left Notification</button>
                </div>
            </div>

            <div class="container">
                <h3>Custom template and scope</h3>
                <div class="btn-group-vertical">
                    <button class="btn btn-primary show-custom" data-ng-click="vm.customTemplateScope()">Custom template and scope</button>
                </div>
                <h5>Clicks: {{vm.nClicksLog.length}}</h5>
                <ul class="elements-count">
                    <li data-ng-repeat="l in vm.nClicksLog track by $index">{{$index + 1}}. {{l}}</li>
                </ul>
            </div>

        </div>

        <script type="text/ng-template" id="custom_template.html">
            <div class="ui-notification custom-template">
                <h3>{{vm.nTitle}}</h3>
                <div class="message" style="text-align:left;" data-ng-bind-html="message"></div>
                <div class="message" style="text-align:left;">
                    <ul>
                        <li data-ng-repeat="el in vm.nElements">{{el}}</li>
                    </ul>
                </div>
                <div class="message" style="text-align:left;">
                    <a class="btn btn-small btn-primary close-notification" data-ng-click="vm.nClick()">Click me</a>
                </div>
            </div>
        </script>

        <script src="angular.js"></script>
        <script src="../src/angular-ui-notification.js"></script>  
        <script type="text/javascript">
            (function () {
                'use strict';

                angular
                    .module('notificationTest', [
                        'ui-notification'
                    ]);
                
                angular
                    .module('notificationTest')
                    .run(startup);

                angular
                    .module('notificationTest')
                    .controller('NotificationController', notificationController);


                notificationController.$inject = ['$scope', 'notify'];
                function notificationController($scope, notify) {
                    var vm = this;
                    vm.theme = {
                        filename: 'bootstrap.default.min.css'
                    }
                    vm.primary = primary;
                    vm.danger = danger;
                    vm.success = success;
                    vm.info = info;
                    vm.warning = warning;
                    vm.primaryTitle = primaryTitle;
                    vm.dangerTime = dangerTime;
                    vm.dangerNoTime = dangerNoTime;
                    vm.successTime = successTime;
                    vm.dangerHtml = dangerHtml;
                    vm.successHtml = successHtml;
                    vm.topLeft = topLeft;
                    vm.bottomRight = bottomRight;
                    vm.bottomLeft = bottomLeft;
                    vm.nClick = nClick;
                    vm.customTemplateScope = customTemplateScope;
                    vm.changeTheme = changeTheme;

                    //#region Functions
                    function primary() {
                        notify('Primary notification');
                    };

                    function danger() {
                        notify.danger('Danger notification');
                    };

                    function success() {
                        notify.success('Success notification');
                    };

                    function info() {
                        notify.info('Information notification');
                    };

                    function warning() {
                        notify.warning('Warning notification');
                    };

                    // ==

                    function primaryTitle() {
                        notify({ message: 'Primary notification', title: 'Primary notification' });
                    };

                    // ==

                    function dangerTime() {
                        notify.danger({ message: 'Danger notification 1s', delay: 1000 });
                    };
                    function dangerNoTime() {
                        notify.danger({ message: 'Danger notification (no timeout)', delay: null });
                    };

                    function successTime() {
                        notify.success({ message: 'Success notification 20s', delay: 20000 });
                    };

                    // ==

                    function dangerHtml() {
                        notify.danger({ message: '<b>Danger</b> <s>notification</s>', title: '<i>Html</i> <u>message</u>' });
                    };

                    function successHtml() {
                        notify.success({ message: 'Success notification<br>Some other <b>content</b><br><a href="https://github.com/alexcrack/angular-ui-notification">This is a link</a><br><img src="https://angularjs.org/img/AngularJS-small.png">', title: 'Html content' });
                    };
                    
                    // ==

                    function topLeft() {
                        notify.success({ message: 'Success Top Left', positionX: 'left' });
                    };

                    function bottomRight() {
                        notify.danger({ message: 'Danger Bottom Right', positionY: 'bottom', positionX: 'right' });
                    };

                    function bottomLeft() {
                        notify.warning({ message: 'warning Bottom Left', positionY: 'bottom', positionX: 'left' });
                    };
                    //#endregion
                    // == 

                    vm.nTitle = "Title from other scope";
                    vm.nClicksLog = [];
                    function nClick() {
                        vm.nClicksLog.push("Clicked");
                    };
                    vm.nElements = ['one', 'two', 'three'];
                    function customTemplateScope() {
                        notify.primary({
                            message: "Just message",
                            templateUrl: "custom_template.html",
                            scope: $scope
                        });
                    };

                    function changeTheme(themeFilename) {
                        document.querySelector('#theme-link').href = themeFilename;
                    }
                }

                startup.$inject = ['$templateCache']
                function startup($templateCache) {
                    $templateCache.put(
                        'angular-ui-notification.html',
                        '<div class="ui-notification">' +
                            '<h3 data-ng-show="title" data-ng-bind-html="title"></h3>' +
                            '<div class="message" data-ng-bind-html="message"></div>' +
                        '</div>');
                }
            })();
        </script>
    </body>
</html>