$ui-notification-border-radius: 4px;

.ui-notification {
    border-radius: $ui-notification-border-radius;
    position: fixed;
    z-index: 99999;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    text-align: center;
    max-width: 100%;
    -moz-transition: top ease 0.5s, bottom ease 0.5s, background ease 0.5s, background-size ease 0.5s;
    -o-transition: top ease 0.5s, bottom ease 0.5s, background ease 0.5s, background-size ease 0.5s;
    -webkit-transition: top ease 0.5s, bottom ease 0.5s, background ease 0.5s, background-size ease 0.5s;
    transition: top ease 0.5s, bottom ease 0.5s, background ease 0.5s, background-size ease 0.5s;

    &.killed {
        opacity: 0;
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        -moz-transition: opacity 0.6s ease, transform 0.6s ease;
        -o-transition: opacity 0.6s ease, transform 0.6s ease;
        -webkit-transition: opacity 0.6s ease, transform 0.6s ease;
        transition: opacity 0.6s ease, transform 0.6s ease;
    }

    &.fast-killed {
        opacity: 0;
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        -moz-transition: opacity 0.3s ease, transform 0.3s ease;
        -o-transition: opacity 0.3s ease, transform 0.3s ease;
        -webkit-transition: opacity 0.3s ease, transform 0.3s ease;
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    & > h3 {
        display: block;
        margin: 10px 10px 0 10px;
        padding: 0 0 5px 0;
        color: white;
        font-weight: bold;
    }

    & > .message {
        margin: 10px 10px 10px 10px;
    }
}

@media screen and (min-width:404px) {
    .ui-notification {
        width:400px;

        &.center {
            left:50%;
            margin-left:-200px;
        }
        &.left {
            left:5px;
        }
        &.right {
            right:5px;
        }
    }
}

@media screen and (max-width:404px) {
    .ui-notification {
        left:2px;
        right:2px;
    }
}